<section class="about-aside">
  <img class="gravatar" src="{% gravatar_image %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
  <p>
    Welcome to my blog.
    I'm a software engineer, code warrior, open source contributor, pianist, chess player, gamer, and also a human being on occasion.
  </p>
  <p>
    I <del>work</del> play with Ruby, Javascript, Node.js, Java and their myriads of frameworks.
    I'm learning more about them every day and also love to experiment with as many new technologies as I can.
  </p>
</section>
