<footer class="max-w-prose mt-24 mb-12 mx-auto p-4 font-body text-gray-500 text-sm">

  <div class="flex justify-between items-center">
    <!-- Subscribe to feed -->
    <a class="flex items-center space-x-2 hover:text-blue-400 hover:underline" href="{{ 'feed.xml' | relative_url }}">
      <svg class="inline w-4 h-4 fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <title>RSS icon</title>
        <path d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415c1.814 0 3.293 1.479 3.293 3.295 0 1.813-1.485 3.29-3.301 3.29C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/>
      </svg>
      <span>Subscribe</span>
    </a>

    <!-- Email -->
    <a class="flex items-center space-x-2 hover:text-blue-400 hover:underline" href="mailto:{{ site.email | encode_email }}">
      <svg class="inline w-4 h-4 fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <title>Email icon</title>
        <path fill-rule="evenodd" d="M1.75 3A1.75 1.75 0 000 4.75v14c0 .966.784 1.75 1.75 1.75h20.5A1.75 1.75 0 0024 18.75v-14A1.75 1.75 0 0022.25 3H1.75zM1.5 4.75a.25.25 0 01.25-.25h20.5a.25.25 0 01.25.25v.852l-10.36 7a.25.25 0 01-.28 0l-10.36-7V4.75zm0 2.662V18.75c0 .138.112.25.25.25h20.5a.25.25 0 00.25-.25V7.412l-9.52 6.433c-.592.4-1.368.4-1.96 0L1.5 7.412z"></path>
      </svg>
      <span>Email</span>
    </a>

    <!-- License -->
    <span>&copy; 2012-{{ 'now' | date: "%Y" }}</span>
  </div>

  <div class="flex flex-col items-center mt-8 px-8 space-y-2 text-center text-xs">
    <a class="opacity-80 hover:opacity-100" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
      <img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" />
    </a>
    <p>
      Unless otherwise specified, this work is licensed under a
      <a class="text-blue-400 hover:underline" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        Creative Commons Attribution-ShareAlike 4.0 International License
      </a>.
    </p>
  </div>

  <!-- Attribution -->
  <div class="mt-4 text-center text-xs">
    Fonts by <a class="text-blue-400 hover:underline" href="https://fonts.google.com">Google Fonts</a>,
    brands by <a class="text-blue-400 hover:underline" href="https://simpleicons.org">Simple Icons</a>,
    other icons by <a class="text-blue-400 hover:underline" href="https://primer.style/octicons/">Octicons</a>.
  </div>

  <div class="flex justify-center mt-4">
    <span class="w-6 h-6 mt-2">{% include emoji.html emoji='cat2' size=6 %}</span>
    <span class="w-6 h-6 mt-2">{% include emoji.html emoji='beetle' size=6 %}</span>
  </div>

</footer>
