{%- assign post = include.post -%}
{%- assign extra_classes = include.extra_classes -%}
{%- assign title_enabled = include.title | default: 'enabled' -%}

<div class="flex flex-col content-center {{ extra_classes }}">

  <!-- Post category -->
  {%- if title_enabled == 'enabled' -%}
    <em class="font-body mr-2 text-gray-400 text-center">
      :{{ site.data.today[post.today.type].emoji }}:
      {{ ' ' }}
      {%- if post.today.past -%}
        {{ site.data.today[post.today.type].past_title }}
      {%- else -%}
        {{ site.data.today[post.today.type].title }}
      {%- endif -%}
    </em>
  {%- endif -%}

  <!-- Post title -->
  <h2 class="text-center text-white hover:text-blue-400">
    <a class="font-display" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </h2>

  <!-- Simplified post metadata -->
  <p class="flex flex-wrap justify-center space-x-5 text-gray-400">
    <!-- Date -->
    {% include post_date.html post=post %}

    <!-- Featured thing or tag -->
    {%- assign featured_thing = post.featured_things[0] -%}
    {%- assign featured_tag = post.tags[0] -%}
    {%- if featured_thing -%}
      {% include post_thing.html thing=featured_thing size=4 %}
    {%- elsif featured_tag -%}
      {% include post_tag.html tag=featured_tag %}
    {%- endif -%}
  </p>

</div>
