<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="bg-gray-900 flex flex-col h-screen m-0 p-0 text-gray-300">
    <div class="my-auto p-12">
      <header class="flex flex-col items-center mb-12">
        <!-- Brand -->
        <h1 class="flex items-center px-3 py-2 space-x-3 font-body font-medium text-sm text-white">
          <img class="h-12 w-12 rounded-full" src="{{ '/assets/avatar.jpg' | relative_url }}" alt="GitHub">
          <div>
            <h1 class="text-xl">{{ site.title | escape }}</h1>
            <small class="text-base text-gray-500">{{ site.description }}</small>
          </div>
        </h1>

        <div class="flex flex-wrap justify-center space-x-2 w-8/12 md:w-max fill-current">
          <span class="w-6 h-6 mt-2">{% include emoji.html emoji='heart' size=6 %}</span>
          <a class="w-6 h-6 mt-2" href="https://elixir-lang.org">{% include logo.html color='text-purple-400' hover_color='text-white' logo='elixir' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://elm-lang.org">{% include logo.html color='text-blue-300' hover_color='text-white' logo='elm' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://www.typescriptlang.org">{% include logo.html color='text-blue-500' hover_color='text-white' logo='typescript' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://www.ecma-international.org/publications-and-standards/standards/ecma-262/">{% include logo.html color='text-yellow-400' hover_color='text-white' logo='javascript' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://nodejs.org">{% include logo.html color='text-green-500' hover_color='text-white' logo='node' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://www.ruby-lang.org">{% include logo.html color='text-red-700' hover_color='text-white' logo='ruby' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://git-scm.com">{% include logo.html color='text-red-500' hover_color='text-white' logo='git' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://www.docker.com">{% include logo.html color='text-blue-400' hover_color='text-white' logo='docker' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://www.ansible.com">{% include logo.html color='text-gray-200' hover_color='text-white' logo='ansible' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://www.postgresql.org">{% include logo.html color='text-blue-300' hover_color='text-white' logo='postgresql' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://www.vim.org">{% include logo.html color='text-green-500' hover_color='text-white' logo='vim' size=6 %}</a>
          <a class="w-6 h-6 mt-2" href="https://code.visualstudio.com">{% include logo.html color='text-blue-500' hover_color='text-white' logo='vscode' size=6 %}</a>
        </div>
      </header>

      <main id="home" class="w-full">
        {% assign posts = site.posts %}

        <div class="grid grid-cols-1 md:grid-cols-4 md:gap-6 max-w-2xl mx-auto">
          {%- for post in posts limit:5 -%}
            {% capture odd %}{% cycle true, false %}{% endcapture %}
            {%- if forloop.first or forloop.last and odd -%}
              {%- assign post_extra_classes = 'col-start-1 mt-4 md:col-start-2 md:col-span-2 md:mt-0' -%}
            {%- else -%}
              {%- assign post_extra_classes = 'mt-4 md:col-span-2 md:mt-0' -%}
            {%- endif -%}
            {% include post_card.html post=post extra_classes=post_extra_classes %}
          {%- endfor -%}
        </div>

        <div class="flex justify-center mt-8">
          <a class="font-display text-lg text-gray-500 hover:text-blue-400 hover:underline" href="{{ '/posts' | relative_url }}">All Posts</a>
        </div>
      </main>
    </div>
  </body>
</html>
