<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="bg-gray-900 flex flex-col h-screen m-0 p-0 text-gray-300">
    <div class="my-auto">
      <header class="flex justify-center mb-12">
        <!-- Brand -->
        <h1 class="relative flex items-center justify-between h-16">
          <a href="{{ '/' | relative_url }}" class="text-white px-3 py-2 space-x-3 text-sm font-medium flex items-center">
            <img class="h-12 w-12 rounded-full" src="{{ '/assets/avatar.jpg' | relative_url }}" alt="GitHub">
            <span class="font-body text-xl">{{ site.title | escape }}</span>
          </a>
        </h1>
      </header>

      <main id="home" class="container w-72 mx-auto">
        {% assign posts = site.posts %}

        <ul class="max-w-lg mx-auto">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts limit:3 -%}
          <li class="flex flex-col content-center my-6">

            <!-- Post category -->
            {%- if post.categories contains 'today-i-learned' -%}
              <em class="font-body mr-2 text-gray-300 text-center">Today I Learned</em>
            {%- endif -%}

            <!-- Post title -->
            <h2 class="text-center hover:text-blue-400">
              <a class="font-display" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>

            <!-- Post category & date -->
            {% include post_date.html %}

          </li>
          {%- endfor -%}
        </ul>
      </main>
    </div>
  </body>
</html>
