<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}

  <body class="bg-gray-900 flex flex-col h-screen m-0 p-0 text-gray-300">
    <div class="my-auto p-12">
      <header class="flex flex-col items-center space-y-2 mb-12">
        <!-- Brand -->
        <h1 class="flex items-center px-3 py-2 space-x-3 font-body font-medium text-sm text-white">
          <img class="h-12 w-12 rounded-full" src="{{ '/assets/avatar.jpg' | relative_url }}" alt="GitHub">
          <div>
            <h1 class="text-xl">{{ site.title | escape }}</h1>
            <small class="text-base text-gray-500">{{ site.description }}</small>
          </div>
        </h1>

        <div class="flex space-x-2 fill-current">
          {% include emoji.html emoji='heart' size=6 %}
          {% include logo.html color='text-purple-400' logo='elixir' size=6 %}
          {% include logo.html color='text-blue-300' logo='elm' size=6 %}
          {% include logo.html color='text-blue-500' logo='typescript' size=6 %}
          {% include logo.html color='text-yellow-400' logo='javascript' size=6 %}
          {% include logo.html color='text-red-700' logo='ruby' size=6 %}
          {% include logo.html color='text-red-500' logo='git' size=6 %}
          {% include logo.html color='text-blue-400' logo='docker' size=6 %}
          {% include logo.html color='text-gray-200' logo='ansible' size=6 %}
        </div>
      </header>

      <main id="home" class="container w-72 mx-auto">
        {% assign posts = site.posts %}

        <ul class="max-w-lg mx-auto">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {%- for post in posts limit:3 -%}
          <li class="flex flex-col content-center my-6">

            <!-- Post category -->
            {%- if post.categories contains 'today-i-learned' -%}
              <em class="font-body mr-2 text-gray-300 text-center">:books: Today I Learned</em>
            {%- endif -%}

            <!-- Post title -->
            <h2 class="text-center hover:text-blue-400">
              <a class="font-display" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
            </h2>

            <!-- Post category & date -->
            {% include post_date.html %}

          </li>
          {%- endfor -%}
        </ul>
      </main>
    </div>
  </body>
</html>
