---
layout: default
---
{% assign post = page %}

<article class="max-w-prose mx-auto" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="mt-24 mb-20">
    <!-- Category -->
    {%- if post.today -%}
      <em class="block font-body mb-3 text-3xl text-center text-white">
        :{{ site.data.today[post.today.type].emoji }}:
        {{ ' ' }}
        {%- if post.today.past -%}
          {{ site.data.today[post.today.type].past_title }}
        {%- else -%}
          {{ site.data.today[post.today.type].title }}
        {%- endif -%}
      </em>
    {%- endif -%}

    <!-- Title -->
    <h1 itemprop="name headline">{{ post.title | escape }}</h1>

    <!-- Metadata -->
    <p class="flex flex-wrap justify-center space-x-5 text-gray-400">

      <!-- Publication date -->
      {% include post_date.html post=post %}

      <!-- Last modification date (if available) -->
      {%- if post.last_modified_at -%}
        <time class="flex items-center space-x-2" datetime="{{ post.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
          {% octicon pencil width:16 height:16 class:"align-middle inline fill-current" %}
          <span class="font-mono">{{ post.last_modified_at | date: '%Y-%m-%d' }}</span>
        </time>
      {%- endif -%}

      <!-- Categories -->
      {% for category in post.main_categories %}
        <span class="flex items-center space-x-2 mb-2 text-gray-500">
          {% octicon file-directory width:16 height:16 class:"align-middle inline fill-current" %}
          <span class="font-mono">{{ category }}</span>
        </span>
      {% endfor %}

      <!-- Languages (if available) -->
      {% for thing in post.featured_things %}
        {% include post_thing.html thing=thing size=4 %}
      {% endfor %}

      <!-- Tags -->
      {% for tag in post.extra_tags %}
        {% include post_tag.html tag=tag %}
      {% endfor %}
    </p>
  </header>

  <!-- Post content -->
  <div class="text-lg" itemprop="articleBody">
    {{ content }}
  </div>

  <!-- Language versions (if available) -->
  {%- if post.versions -%}
    <div class="flex flex-wrap justify-evenly space-x-8 mt-16">
      {% for entry in post.versions %}
        {% assign current_thing = entry[0] %}
        {% assign current_version = entry[1] %}
        {% include post_thing_version.html thing=current_thing version=current_version %}
      {% endfor %}
    </div>
  {%- endif -%}

  <a class="u-url" href="{{ post.url | relative_url }}" hidden></a>
</article>

{%- if site.disqus.shortname -%}
  <div class="max-w-prose mx-auto mt-12">
    {%- include disqus_comments.html -%}
  </div>
{%- endif -%}
