---
layout: default
---

<div class="grid grid-cols-1 gap-2 gap-y-12 md:grid-cols2 md:gap-y-0 lg:grid-cols-3 max-w-4xl mx-auto mt-24 mb-20 text-center">
  {% for today_type in page.featured %}
    {%- assign emoji = site.data.today[today_type].emoji -%}
    {%- assign title = site.data.today[today_type].title -%}
    {%- if today_type == 'learned' -%}
      {%- assign section_extra_classes = 'order-first' -%}
    {%- else -%}
      {%- assign section_extra_classes = '' -%}
    {%- endif -%}

    <h2 class="sr-only">Featured Posts</h2>

    <section class="{{ section_extra_classes }} lg:order-none">
      <h3 class="mb-8 text-2xl text-white">:{{ emoji }}: {{ title }}</h3>
      {%- assign posts = page.today[today_type] -%}
      {%- assign posts_count = posts | size -%}

      {%- if posts_count >= 1 -%}
        <div class="flex flex-col space-y-4">
          {% for post in posts %}
            {% include post_card.html post=post title='disabled' %}
          {% endfor %}
        </div>
      {%- else -%}
        <em class="text-gray-500">No posts yet</em>
      {%- endif -%}
    </section>
  {% endfor %}
</div>

<div class="max-w-4xl mx-auto mt-8 text-center">
  <h2 class="font-display text-2xl text-gray-100">Older Posts</h2>
</div>

{%- assign remaining_posts_count = page.remaining_posts | size -%}
{%- if remaining_posts_count >= 1 -%}
  {%- assign remaining_posts_count_modulo2 = remaining_posts_count | modulo: 2 -%}

  <div class="grid grid-cols-1 col-start-1 md:grid-cols-4 max-w-2xl mx-auto mt-8 mb-20 space-x-2 text-center">
    {% for post in page.remaining_posts %}
      {%- if forloop.first and remaining_posts_count_modulo2 == 1 -%}
        {%- assign post_extra_classes = 'md:col-start-2 md:col-span-2' -%}
      {%- else -%}
        {%- assign post_extra_classes = 'md:col-span-2' -%}
      {%- endif -%}

      {% include post_card.html post=post extra_classes=post_extra_classes %}
    {% endfor %}
  </div>
{%- endif -%}

<div class="max-w-4xl mx-auto mt-8 text-center">
  <a class="text-lg text-gray-500 hover:text-blue-400 hover:underline" href="{{ '/archives' | relative_url }}">Archives</a>
</div>
