---
layout: default
---
<article class="max-w-prose mx-auto" itemscope itemtype="https://schema.org/BlogPosting">
  <header class="mt-24 mb-20">
    <h1 itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="flex justify-center space-x-5 text-gray-400">
      <time class="items-center flex space-x-2" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% octicon calendar width:16 height:16 class:"align-middle inline fill-current" aria-label:hi %}
        <span class="font-mono">{{ page.date | date: '%Y-%m-%d' }}</span>
      </time>
      {%- if page.last_modified_at -%}
        <time class="items-center flex space-x-2" datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">
          {% octicon pencil width:16 height:16 class:"align-middle inline fill-current" aria-label:hi %}
          <span class="font-mono">{{ page.last_modified_at | date: '%Y-%m-%d' }}</span>
        </time>
      {%- endif -%}
    </p>
  </header>

  <div class="text-lg" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
